# Database (Supabase)
DATABASE_URL="postgresql://postgres.[YOUR_PROJECT_ID]:[YOUR_PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[YOUR_PROJECT_ID]:[YOUR_PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET="your_secret_here"
JWT_EXPIRES_TIME="30m"

# Gemini API Key
GEMINI_API_KEY="your_gemini_key_here"

# Port
PORT=3000
